body {
    background-color: #EBEBEB;
}

#nomePag {
    font-size: 40pt;
    margin-bottom: -15px;
}
#daltonismo {
    font-size: 50pt;
    font-weight: 700; 
}
.container-titulo {
    display: flex;
    flex-direction: column;
}

#container-principal-texto {
    color: #252E4A;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-principal {
    background-color: #252E4A;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.button-secundario {
    background-color: #EBEBEB;
    color: #7F7F7F;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.carousel-item img {
    height: 400px; 
    object-fit: cover; 
    width: 100%;
}


/* Ajuste para mobile */
@media (max-width: 768px) {
    .carousel-item img {
        height: 250px; 
    }
}