* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    min-height: 100%;
    font-family: Arial, sans-serif;
    overflow-y: auto;
}

/* HEADER */

header {
    position: relative;
    background: #5F7184;
    color: white;
    padding: 20px;
}

header h1 {
    font-size: 60px;
}

header p {
    font-size: 18px;
}

/* BOTÃO REINICIAR */

.btn-reset {
    position: absolute;
    top: 40px;
    right: 40px;

    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.bola-reset {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #26324d;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bola-reset img {
    width: 24px;
    height: 24px;
}

/* CENÁRIO */

.cenario {
    position: relative;
    width: 100%;
    min-height: 900px;

    background-image: url("exporto.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* PONTOS */

.ponto {
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.ponto img {
    width: 80px;
    height: auto;
}

/* NÍVEL ATUAL */

.p1 img {
    width: 110px;
}

/* Caminho em S */

.p1 {
    top: 24%;
    left: 47%;
}

.p2 {
    top: 32%;
    left: 40%;
}

.p3 {
    top: 40%;
    left: 47%;
}

.p4 {
    top: 56%;
    left: 45%;
}

.p5 {
    top: 66%;
    left: 50%;
}

.p6 {
    top: 80%;
    left: 47%;
}

/* NÍVEIS BLOQUEADOS */

.bloqueado {
    opacity: 0.8;
    cursor: not-allowed;
}

.p2 img,
.p3 img,
.p4 img,
.p5 img,
.p6 img {
    width: 110px;
}